{{define "cond"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsule WEB&GO</title>
</head>

<body>
    {{if .Check}}
    <p>La condition du champ 'Check' est vraie</p>
    {{end}}

    {{if .CheckOwner}}
    <p>Le propriétaire est vérifié</p>
    {{else}}
    <p>Oupsss le propriétaire n'est pas vérifié...</p>
    {{end}}

    {{if le .NbrGuest 10}}
    <p>L'évent est une petite soirée</p>
    {{else if le .NbrGuest 20}}
    <p>L'évent est une soirée</p>
    {{else}}
    <p>Aucune information sur le format de l'évent</p>
    {{end}}
</body>

</html>
{{end}}