{{define "template"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cours GO&WEB</title>
</head>

<body>

</body>

<!-- Affiche de variables simple -->
<h1>Utilisation de templates dynamiques</h1>

<h3>Nom de la promotion :</h3>
<p>{{.VarString}}</p>

<h3>Nombre d'étudiant :</h3>
<p>{{.VarInt}}</p>

<!-- Utilisation d'une boucle sur un tableau -->
<h3>Liste des étudiants :</h3>
<ul>
    {{range .Array}}
    <li>{{.}}</li>
    {{end}}
</ul>

<!-- Utilisation d'un condition si->sinon -->
<h3>Statut de la promotion :</h3>
{{if .Check}}
<p>L'année est cours</p>
{{else}}
<p>L'année est terminé</p>
{{end}}

</html>
{{end}}