{{define "useFiles"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Cours GO&WEB</title>
</head>

<body>
    <h1>Utilisation de ressources externes :</h1>

    <div class="block b-img">
        <h3>Utilisation d'images</h3>
        <div class="sub-img">
            <img id="img-01" src={{.ImgPath}} alt="Voici une image">
            <img id="img-02" src="/static/img/img02.png" alt="Voici une autre image">
        </div>
    </div>

    <div class="block b-txt">
        <h3>Utilisation de style </h3>
        <p class="sub-txt"><span id="txt-01">Lorem ipsum dolor sit amet,</span> consectetur adipisicing elit. Magnam
            rerum corrupti in, vel impedit eligendi? Aliquid, quisquam. Velit cum nesciunt necessitatibus nam suscipit
            laboriosam quo alias deserunt veniam, ut ullam.
        </p>
    </div>
</body>

</html>
{{end}}