{{define "Init"}}
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <title>UserInit</title>
</head>
<body>
    <div class="Init">
        <form method="post" action="/Display">
            <fieldset class="userinfos">
                <legend class="userlegend">Renseigner vos données</legend>
                <div class="champ">
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" placeholder="Votre nom">
                </div>
                <div class="champ">
                    <label for="prenom">Prénom :</label>
                    <input type="text" id="prenom" name="prenom" placeholder="Votre prénom">
                </div>
                <div class="champ">
                    <label for="birthday">Date de naissance</label>
                    <input type="date" id="birthday" name="birthday">
                    </div>
                <div class="champ">
                    <label for="sexe">Sexe</label>
                    <select name="sexe" id="sexe">
                        <option value="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                    </select>
                </div>
                <div class="champ">
                    <input type="submit" value="Valider">
                </div>
            </fieldset>
        </form>
    </div>
</body>
{{end}}